header{
    height: 100px;
    background-color: #B87070;
    padding: 5px;
}
img{
    height: 100px;
    width: 100px;
    float: left;
    border: 1px solid black;
}
body{
    margin: 0;
}
h1{
    text-align: center;
    font-size: x-large;
    color: black;
   
}
footer{
    height: 50px;
    text-align: center;
    background-color: #B87070;
    padding: 5px;
}
menu{
    width: 10%;
    padding: 5px;
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
}
article{
    display: inline-block;
    vertical-align: top;

}
section{
    border-left: 1px solid grey;
    padding: 5px;
    width: 42%;
    display: inline-block;
    vertical-align: top;
}